<div>
	<h3>Who We Are</h3>
	<p>Society of Physics Students is a professional, <a href='http://www.spsnational.org/' target="_blank">national organization</a> for all students interested in physics.</p>
	<p> We are the chapter at University of California - Berkeley. We do fun <a href='#/Projects'>projects</a>, promote and discuss physics, tour lab facilities, and connect with professors and their research.</p>
	<p>We also support an <a href='#/FAQ'>FAQ</a> to answer questions about physics courses and the physics major, and we will produce a <a href='#/Course Guide'>course guide</a> soon. Check them out!</p>
	<p>Any questions, comments, or feedback? Email us at <a style='color:inherit' href='mailto:ucbsps@gmail.com'>ucbsps@gmail.com</a>.<p>
	<h3>Mission Statement</h3>
	<p>The Society of Physics Students is an organization dedicated to physics-related ideas and cutting-edge research. We encourage and assist students interested in physics to develop the knowledge, competence, enthusiasm, and social responsibility that are essential to the advancement of physics; stimulate interest in advanced study and research in physics; develop collegiality among physics students and faculty members; promote public interest in physics; and provide liaison between students and the member societies of the American Institute of Physics.<p>
	<h4>Download club constitution: <em><a href='constitution/constitution.txt'>text</a></em>, <em><a href='constitution/constitution.pdf'>pdf</a></em></h4><br>
</div>