</div>
	<img src='img/testimg2.jpg' style='padding:10px; float:center' width='50%'></img>
	<div>
		<!--<input type='text' style="width: 280px" ng-model='textinput'><br>{{textinput}}-->
	</div>
	<br>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div class='btn-group'>
		<a class='btn btn-success' href='http://physics.berkeley.edu' target="_blank">physics@berkeley</a>
		<a class='btn btn-info' href='http://www.spsnational.org' target='_blank'>SPS National</a>
		<a class='btn btn-primary' href='mailto:ucbsps@gmail.com'>Contact us</a>
		<!--<a class='btn' href='mailto:ucbsps@gmail.com'>Donate here</a>-->
	</div>
</div>

